.btn-next{
    display: block; 
    width: 150px;
    height: 30px;
    padding-top: 5px;
    background: rgb(229, 230, 229);
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}