.progress{
    background-color: white;

    .bg-current{
        background-color: #717171;
    }
    .bg-max{
        background-color: #d2d2d2;
    }
    .bg-min{
        background-color: #000000;
    }
}